/* margin */
.sq-mt0 { margin-top:0px!important;}
.sq-mt1 { margin-top:10px!important;}
.sq-mt2 { margin-top:20px!important;}
.sq-mt3 { margin-top:30px!important;}

.sq-mb0 { margin-bottom:0px!important;}
.sq-mb1 { margin-bottom:10px!important;}
.sq-mb2 { margin-bottom:20px!important;}
.sq-mb3 { margin-bottom:30px!important;}

.sq-ml0 { margin-left:0px!important;}
.sq-ml1 { margin-left:10px!important;}
.sq-ml2 { margin-left:20px!important;}
.sq-ml3 { margin-left:30px!important;}

.sq-mr0 { margin-right:0px!important;}
.sq-mr1 { margin-right:10px!important;}
.sq-mr2 { margin-right:20px!important;}
.sq-mr3 { margin-right:30px!important;}

/* padding */

.sq-pt0 { padding-top:0px!important;}
.sq-pt1 { padding-top:10px!important;}
.sq-pt2 { padding-top:20px!important;}
.sq-pt3 { padding-top:30px!important;}

.sq-pb0 { padding-bottom:0px!important;}
.sq-pb1 { padding-bottom:10px!important;}
.sq-pb2 { padding-bottom:20px!important;}
.sq-pb3 { padding-bottom:30px!important;}

.sq-pl0 { padding-left:0px!important;}
.sq-pl1 { padding-left:10px!important;}
.sq-pl2 { padding-left:20px!important;}
.sq-pl3 { padding-left:30px!important;}

.sq-pr0 { padding-right:0px!important;}
.sq-pr1 { padding-right:10px!important;}
.sq-pr2 { padding-right:20px!important;}
.sq-pr3 { padding-right:30px!important;}