header {
  display: flex;
  justify-content: center;
  align-items: center;
  color:#333;
  font-weight:700;
  font-size:40px;
  padding:20px 0;
  border-bottom:1px solid #333;
}

#question{
  width: 200px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section > div {
  text-align: center;
  width: 100%;
}

section > div h2 {
  font-size:35px;
  font-weight:700;
  padding:30px 0;
}

.question {
  font-size: 40px;
  font-weight:700;
  text-align:center;
}
.versus {
  font-size: 40px;
  font-weight:700;
  text-align:center;
  padding: 20px 0;
}

.img-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-box > button {
  width:300px;
  height:300px;
  background:#D9D9D9;
  border-radius: 50%;
  margin-right: 50px;
  text-align: center;
}

.img-box > button:hover {
  background-color:#f20;
}

.img-box img {
  width: 200px;
  display: block;
  margin-top:40px;
  margin-left:50px;
}

.result {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

#game-result-text {
  margin-bottom: 10px;
}

button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom:30px;
}